body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: rgb(232, 232, 241); 
    /* background-color: rgb(245, 226, 230); */
    background-image: url(Background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 130px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 30%, rgba(252,70,107,1) 100%);
    font-size: 20px;
    font-style: italic;
}

.topnav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
}

h1 {
    background-color: pink;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25pt;
    font-size: 60pt;
}
    
.about img {
    width: 260px;
    height: 400px;
    margin: 40px 90px 15px 170px;
    border-color: rgb(147, 51, 236);
    border-style: solid;
    border-width: 5px;
}

.image {
    flex-basis: 40%;
}

#text {
    padding-right: 110px;
    font-size: 19px;
    color:#01015c;
}

#nology {
    text-align: center;
    color:#01015c;
    border: 25px solid palevioletred;
    border-style: outset;
    border-radius: 130px;
    margin: 50px 250px 0px 250px;
    padding: 10px 40px; 
}

#nology ul {
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

/* #portimg {
    width: 10px;
    height: 10px;
    margin: 0;
}
 */

#contacts h2 {
    color: rgb(207, 54, 79);
    text-align: center;
    text-decoration: underline;
    font-size: 25pt;
}

#logos {
    display: flex;
    justify-content: center;
} 

#logos div {
    display: flex;
    height: 43px;
    width: 93px;
    margin-bottom: 20px;
}
#logos img {
    width: 90%;
    height: 100%;
} 

/*.portfolio {
    text-align: center;
} */

/* #logos img {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    display: inline-block;
} */ 

/*.contacts img {
    align-items: center;
    display: inline-block;
}*/

/* *  {background-color:rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 10%, rgba(0,212,255,1) 80%); 
} */