/* *  {background-color:rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 10%, rgba(0,212,255,1) 80%); 
} */

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(232, 232, 241);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 130px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 29%, rgba(252,70,107,1) 100%);
    color: white;
    font-size: 30px;
    font-style: italic;
}

.topnav a {
    background-color: rgb(63,94,251);
    color: white;
    text-align: center;
    padding: 14px 16px;
}

h1 {
    background-color: pink;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25pt;
    font-size: 60pt;
}
    
img {
    width: 260px;
    height: 400px;
    margin: 30px 90px 15px 170px;
    border-color: rgb(147, 51, 236);
    border-style: solid;
    border-width: 5px;
}

.image {
    flex-basis: 40%;
}

#text {
    padding-right: 110px;
    font-size: 19px;
    color:#01015c;
}

.nology {
    text-align: center;
    border: 25px solid palevioletred;
    color:#01015c;
    margin: 40px 300px 20px 400px;
    padding: 10px 50px 10px 50px;
}

.ul {
    text-align: center;
    display: inline-block;
}

.portfolio {
    text-align: center;
}

    /*   background-image: url(Ocean.jpg);
    background-repeat: no-repeat;
    background-size: 1300px 600px; 

#topnav {
    color: white;
}
    */

